@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

body, html {
    background-image: url(IMG_6582.PNG);
    background-size: contain;
    background-attachment: fixed;
}

header {
    background-color: rgb(164, 209, 198);
   
    
}

header > h1 {
    padding: 10px;
    text-align: center;
}

h3{
    text-align: center;
}

h1{
    color: whitesmoke;
}

#subt, h3{
    color: rgb(21, 63, 53);
}

p{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 100;
    color: black;
}

#burguer{
    background-color: rgb(164, 209, 198);
    color: whitesmoke;
    display: block;
    text-align: center;
    padding: 10px;
    cursor: pointer;
}

#burguer:hover{ /* trocar a cor do menu ao passar o  mouse */
    background-color: whitesmoke;
    color:  rgb(40, 112, 94);;
}


menu {
    display: none; /* para tirar o menu */
}

menu > ul {
    list-style-type: none;
}

menu > ul > li > a { /* cadeias asim não são obrigatórias mas são boas para não perder a hierarquia */
    display: block;
    padding: 10px;
    text-decoration: none;
    background-color: rgb(164, 209, 198);
    text-align: center;
    color: whitesmoke;
   
}

menu > ul > li > a:hover {
    background-color: rgba(255, 255, 255, 0.347); /* para trocar a cor ao passar o mouse */
}

main{
    width: 90vw;
    background-color: rgba(245, 245, 245, 0.744);
    margin: auto;
    margin-top: 10px;
    padding: 10px;
    border-radius: 10px;    
}

article > p {
    padding-bottom: 10px;
    text-align: justify;
    margin-bottom: 10px;
    text-indent: 20px;
}

footer{
    background-color: rgb(164, 209, 198);
    height: 100px;
    width: 100%;

}
